@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --primary-color: #be1600;
  --primary-color-hover: #a01300;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: white;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 10, 15);
}

h1 {
  font-weight: 900;
  font-size: 60px;
}

h2 {
  font-weight: 900;
  font-size: 56px;
  margin-bottom: 40px;
  margin-bottom: 0px;
}

h3 {
  font-weight: 800;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
}

div.content {
  width: 1200px;
  margin: 100px auto;
}

a {

  &.not {
    text-decoration: none;
  }
}


button {
  transition: all 0.1s ease-in-out;

  &.primary {
    display: block;
    padding: 10px 15px;
    border: 0;
    outline: none;
    background-color: var(--primary-color);
    cursor: pointer;

    &:hover {
      background-color: var(--primary-color-hover);
    }
  }

  &.secondary {
    display: block;
    padding: 8px 12px;
    border: 0;
    outline: none;
    background-color: #70707070;
    cursor: pointer;

    &:hover {
      background-color: #80808070;
    }
  }

  &:hover {
    transform: scale(105%);
  }
}